@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.animate-fade-in-out {
    animation: fadeInOut 2s ease-in-out;
}

.cdk-drag-preview {
    background: white;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
    opacity: 0.4;
}